*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}
.list-block {
  background-color: rgb(174, 171, 168);
}
.list {
  display: flex;
}
.input-text {
  height: 30px;
}

.notes {
  padding-left: 10px;
  line-height: 30px;
}
.list-block__reset-button {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.submit {
  width: 100px;
  height: 30px;
}
.list-block__title {
  color: white;
  background-color: rgb(91, 91, 242);
  font-weight: 700;
  text-align: center;
}
.active {
  text-decoration: line-through;
}
